@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>The Homework Tracker</h2>
    <p class="lead">A tool to help those overworked Computer Science majors track their endless assignments.</p>
</div>

<div class="row">
    <div class="col-md-3"><img src="~/Content/Images/left.png" class="img-fluid" width="200" height="228" /></div>
    <div class="col-md-6" style="background-color:#f8f6f6">
        <h3>Our Service</h3>
        <p>
            Need to organize essays, labs, projects, and more? Look no further. Our homework tracker
            helps you schedule your week and (hopefully) avoid those 2am sprints. Who are we kidding? You're a CS student!
            2am is your time to shine! But use this tracker to remember those deadlines!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44302/Homework/Create">Organize me &raquo;</a></p>
    </div>
    <div class="col-md-3"><img src="~/Content/Images/right.png" class="img-fluid" width="260" height="228" /></div>
</div>