<h3>Some Header Here</h3>
<hr />

<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6">
    <table class="table" id="myCustomTable">
        <tr><th>A Placeholder Table</th></tr>
        <tr>
            <td>
                Some thing here
            </td>
            <td>
                Some other thing
            </td>
        </tr>
    </table>
    </div>

    <div class="col-md-3"></div>
</div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
}


