@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Roboto Slab;
    font-size: 15px;
    background-color: tan;
}

#titleList {
    color: #ff0000;
}

.jumbotron {
    background-color: aliceblue;
    border-color: cadetblue;
    border-width: 6px;
    border-style: solid;
}

.col-md-6 {
    background-color: aliceblue;
    border-color: cadetblue;
    border-width: 6px;
    border-style: solid;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* unvisited link */
a:link {
    color: aqua;
}

/* visited link */
a:visited {
    color: azure;
}

/* mouse over link */
a:hover {
    color: darkslategray;
}

/* selected link */
a:active {
    color: azure;
}