body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #96d95b;
    font-family: Roboto Slab;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Add styling to jumbotron */
.jumbotron {
    background-color: aliceblue;
}

table {
    font-family: Roboto Slab;
    background-color: #89d8c0;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 3px solid #0f707a;
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* unvisited link */
a:link {
    color: #0f707a;
}

/* visited link */
a:visited {
    color: #0f707a;
}

/* mouse over link */
a:hover {
    color: #b44d98;
}

/* selected link */
a:active {
    color: #b44d98;
}